/* Styles pour le mode automne */
body.autumn-mode {
    background-color: #F4E2D4; /* Fond de page légèrement beige */
    color: #4A3B2A; /* Couleur du texte brun foncé */
}

.autumn-mode .header {
    background-color: #D2691E; /* Brun foncé, couleur de la cannelle */
}

.autumn-mode .tabs {
    background-color: #D2691E; /* Brun foncé, couleur de la cannelle */
    border-bottom: 3px solid #4A3B2A;
}

.autumn-mode .tab-button {
    background-color: #CD853F; /* Marron, couleur des feuilles d'automne */
    color: #4A3B2A; /* Brun foncé pour le texte */
}

.autumn-mode .tab-button:hover {
    background-color: #A0522D; /* Brun rouille pour un effet de survol plus clair */
}

.autumn-mode .tab-button.active {
    background-color: #8B5A2B; /* Brun plus clair que le précédent pour l'état actif */
}

.autumn-mode .search-bar {
    background-color: #F4E2D4; /* Même fond que le body */
}

.autumn-mode #search-input {
    border-color: #CD5C5C; /* Rouge brique */
    background-color: #FBE8D3; /* Beige doux */
    color: #4A3B2A; /* Brun foncé pour le texte */
}

.autumn-mode #search-input:focus {
    border-color: #B22222; /* Rouge foncé */
    box-shadow: 0 2px 8px rgba(178, 34, 34, 0.5); /* Ombre rouge foncé */
}

.autumn-mode .content {
    background-color: #FDF5E6; /* Fond crème */
    border: 1px solid #DAA520; /* Bordure dorée */
}

.autumn-mode #news-list li {
    background-color: #F5DEB3; /* Blé doré */
    border: 1px solid #DAA520; /* Bordure dorée */
}

.autumn-mode #news-list li:hover {
    background-color: #EED5B7; /* Couleur beige dorée à l'hover */
    box-shadow: 0 4px 8px rgba(238, 213, 183, 0.4); /* Ombre beige */
}

.autumn-mode #news-list h3 {
    color: #A0522D; /* Brun rouille pour les titres */
}

.autumn-mode #news-list a {
    color: #B22222; /* Rouge foncé pour les liens */
}

.autumn-mode #news-list p.description {
    color: #A0522D; /* Brun rouille pour les descriptions */
}