/* Styles pour les petits écrans (téléphones) */
@media only screen and (max-width: 768px) {
    .tabs {
        flex-direction: column;
        width: 100%;
        min-width: 120px;
    }

    .tab-button {
        border-radius: 0;
        width: 100%;
        text-align: left;
        padding: 10px 20px;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


@media only screen and (max-width: 580px) {
    .tabs {
        width: 100%;
        margin-bottom: 10px;
    }

    .content {
        width: 90%;
        margin-left: 0;
    }

    .tab-button {
        font-size: 14px;
        padding: 8px 15px;
    }
}
