/* Général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cv-container {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    padding: 20px;
    max-width: 80%;
    background: #f4f4f4;
    border-radius: 8px;
}

.left-column {
    flex: 0.8; /* Réduit la largeur de la colonne de gauche */
    margin-right: 20px;
    min-height: 100vh; /* Ajustez selon vos besoins */
    background-color: #e0e0e0; /* Couleur d'arrière-plan différente pour la colonne de gauche */
    padding: 10px; /* Ajoutez un peu de padding si nécessaire */
}

.right-column {
    flex: 2;
}

.profile-photo {
    width: 80%;
    height: auto; /* 10% de la hauteur de l'écran en mode normal */
    display: block;
    border-radius: 50%; /* Rend l'image circulaire */
    margin: 0 auto; /* Centre l'image horizontalement */
}

.header-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-info {
    font-size: 16px;
    line-height: 1.6;
}

.icon {
    vertical-align: middle;
    margin-right: 8px;
    width: 20px; /* Ajustez la largeur */
    height: 20px; /* Ajustez la hauteur */
}

.skills h2, .profile h2, .experience h2, .education h2, .projects h2, .hobbies h2 {
    font-size: 20px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.skills-category ul {
    list-style-type: none;
    padding: 0;
}

/* Ajoutez ce style à votre fichier styles.css */
.skills-category li {
    margin-bottom: 8px;
    position: relative; /* Nécessaire pour positionner les éléments pseudo */
    padding-left: 20px; /* Ajustez la valeur pour définir la tabulation */
}

.skills-category li strong {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    position: relative;
    padding-right: 10px; /* Espace entre le texte du label et le contenu */
}

.skills-category li::after {
    content: " "; /* Ajoute un espace après le */
    display: block;
    padding-left: 20px; /* Ajustez la valeur pour définir l'espace après le `:` */
}

.job-details {
    font-weight: bold;
}

.bullet-point::before {
    content: "•"; /* Code pour la puce */
    margin-right: 5px; /* Espace entre la puce et le texte */
    font-size: 18px; /* Ajustez la taille si nécessaire */
    vertical-align: middle; /* Aligne verticalement avec le texte */
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.download-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.download-button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

/* Styles pour l'impression */
@media print {
    body {
        font-size: 10px; /* Réduit la taille des caractères pour l'impression */
    }

    .cv-container {
        max-width: 100%;
        padding: 10px; /* Réduit le padding de la cv-container */
        margin: 0; /* Supprime les marges */
    }

    .left-column,
    .right-column {
        margin: 0; /* Supprime les marges des colonnes */
        padding: 0; /* Supprime le padding des colonnes */
    }

    .profile-photo {
        left: 0%;
        page-break-before: avoid; /* Évite de couper l'image entre les pages */
    }

    .header-content h1,
    .skills h2,
    .profile h2,
    .experience h2,
    .education h2,
    .projects h2,
    .hobbies h2 {
        font-size: 12px; /* Réduit la taille des titres */
        margin-bottom: 5px; /* Réduit les marges inférieures */
        padding-bottom: 2px; /* Réduit le padding inférieur */
    }

    .contact-info {
        font-size: 10px; /* Réduit la taille de la police pour les informations de contact */
    }

    .skills-category li {
        padding-left: 5px; /* Réduit la tabulation pour les éléments de liste */
        margin-bottom: 0px; /* Réduit la marge inférieure pour les éléments de liste */
    }

    .skills-category li strong {
        font-size: 10px; /* Réduit la taille de la police pour les labels */
        padding-right: 5px; /* Réduit l'espace entre le label et le contenu */
    }

    .job-details {
        font-size: 10px; /* Réduit la taille de la police pour les détails du travail */
    }

    .button-container {
        display: none; /* Masque le bouton de téléchargement lors de l'impression */
    }

    footer {
        display: none;
    }

    a {
        color: black;
        text-decoration: none;
    }

}