:root {
    /* Dimensions */
    --header-height: 50px;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: var(--header-height);
}

/* Conteneur pour les onglets et le sélecteur de thème */
.tabs-container {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    padding-left: 20px;
    height: var(--header-height);
    z-index: 10;
}

/* Style moderne pour le bouton de changement de thème */
#theme-select {
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 15px; /* Espacement entre le sélecteur de thème et les onglets */
}

#theme-select:hover {
    background-color: #0056b3;
}

#theme-select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Onglets (Tabs) */
.tabs {
    display: flex;
    align-items: left;
    justify-content: flex-start;
}

.tab-button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
}

.tab-button:hover {
    background-color: var(--hover-color);
}

.tab-button.active {
    background-color: var(--hover-color);
}

.dropdown {
    position: relative;
    z-index: 11;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--dropdown-background-color);
    color: var(--dropdown-text-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--box-shadow-color);
}

.dropdown-content.show {
    display: block;
}

.subreddit-button {
    background-color: var(--dropdown-background-color);
    border: none;
    padding: 12px 16px;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

.subreddit-button:hover {
    background-color: var(--background-color);
}

/* Barre de recherche */
.search-bar {
    margin: 20px 0;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.search-input {
    width: 100%;
    max-width: 600px;
    padding: 10px 20px;
    border: 2px solid var(--border-color);
    border-radius: 25px;
    box-shadow: 0 2px 5px var(--box-shadow-color);
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.search-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.5);
    outline: none;
}

/* Contenu principal */
.content {
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--box-shadow-color);
}

.error-message {
    color: var(--error-color);
    font-weight: bold;
    margin-top: 20px;
}

.news-list {
    list-style-type: none;
    padding: 0;
}

/* Style pour les "cards" */
.news-list-item {
    margin-bottom: 20px;
    padding: 0;  /* Supprime le padding du list item, pour l'ajouter au lien */
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--news-list-background-color);
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;  /* S'assure que les coins arrondis sont bien appliqués */
}


.news-list-item a.news-list-link {
    display: block;
    padding: 15px;  /* Ajoute le padding ici pour tout l'espace cliquable */
    text-decoration: none;  /* Enlève la décoration du lien */
    color: inherit;  /* S'assure que la couleur du texte reste celle du parent */
    height: 100%;
    width: 100%;
    box-sizing: border-box;  /* S'assure que le padding est pris en compte dans la taille du lien */
}

.news-list-item:hover {
    transform: translateY(-5px);
    background-color: var(--news-list-hover-background-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.news-list-item a.news-list-link:hover {
    text-decoration: none;  /* S'assure que le texte ne se transforme pas au survol */
    color: inherit;  /* Maintient la couleur lors du survol */
}

.news-list-item h3 {
    margin: 0;
    font-size: 18px;
    color: var(--news-list-title-color);
}

.news-list-item p {
    margin-top: 10px;
    color: var(--news-list-description-color);
    font-style: italic;
}

.news-list-item p.description {
    margin: 10px 0 0;
}

.news-list-item .news-list-link {
    display: block;
    margin-top: 10px;
    color: var(--primary-color);
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}

.news-list-item .news-list-link:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--footer-background-color);
}

.back-to-top {
    text-decoration: none;
    color: var(--back-to-top-color);
    font-weight: bold;
    font-size: 16px;
}

.back-to-top:hover {
    color: var(--back-to-top-hover-color);
    text-decoration: underline;
}

/* Responsive Styles */
@media (min-width: 768px) {
    .tabs {
        display: flex;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --header-height: 40px;
    }

    .tabs {
        flex-direction: column;
        width: 100%;
    }

    .tab-button {
        width: 100%;
        text-align: left;
    }

    .dropdown {
        width: 100%;
    }

    .dropdown-button {
        width: 100%;
        padding-left: 0;
    }

    .content {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 580px) {
    :root {
        --header-height: 40px;
    }

    .tabs {
        margin-bottom: 10px;
    }

    .content {
        width: 90%;
    }

    .tab-button {
        font-size: 14px;
    }

    .dropdown {
        width: 100%;
    }

    .dropdown-button {
        font-size: 14px;
    }
}